<h1 style="text-align:right ; color:black" >الصفحة الرئيسية</h1>
<br />
<section class="widget" id="shares-widget" data-widgster-load="demo/ajax/widgets/shares.php" style="width:600px ;float:right">
    <header class="ui-sortable-handle">
        <h6>
            <label style="font-size:18px ;font-weight:bold ;margin-left:80%">الإضافات</label>
        </h6>
        <div class="widget-controls">
        </div>
    </header>
    <div class="widget-body no-padding">
        <div class="list-group list-group-lg">
            <a href="/Students/Create" class="list-group-item">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">إضافة طالب</h5>
            </a>
            <a href="/Subjects/Create" class="list-group-item">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">إضافة مادة</h5>
            </a>
            <a href="/Patches/Create" class="list-group-item">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">إضافة فرقة</h5>
            </a>
            <a href="/sections/Create" class="list-group-item">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">إضافة شعبة</h5>
            </a>
            <a href="/Evaluations/Create" class="list-group-item mb-n-md">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">إضافة تقييم</h5>
            </a>
            <a href="/Rates/Create" class="list-group-item">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">إضافة تقدير</h5>
            </a>
        </div>
    </div>
</section>
<section class="widget" id="shares-widget" data-widgster-load="demo/ajax/widgets/shares.php" style="width:600px">
    <header class="ui-sortable-handle">
        <h6>
            <label style="font-size:18px ;font-weight:bold ;margin-left:80%">العرض</label>
        </h6>
        <div class="widget-controls">
        </div>
    </header>
    <div class="widget-body no-padding">
        <div class="list-group list-group-lg">
            <a href="/Students/GetAll" class="list-group-item">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">عرض  الطلاب</h5>
            </a>


            <a href="/Patches/GetAll" class="list-group-item mb-n-md">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">عرض الفرق</h5>
            </a>

            <a href="/subjects/GetAll" class="list-group-item mb-n-md">
                <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">عرض المواد </h5>
            </a>

        </div>
        <header class="ui-sortable-handle">
            <h6>
                <label style="font-size:18px ;font-weight:bold ;margin-left:80% ; margin-top:2%">رصد</label>
            </h6>
            <div class="widget-controls">
            </div>
        </header>
        <div class="widget-body no-padding">
            <div class="list-group list-group-lg">
                <a href="/EvaluationSubjectStudents/DetailsSelectSubject" class="list-group-item">
                    <h5 style="padding-bottom:5px ; padding-top:5px ; text-align:right">رصد درجات ماده</h5>
                </a>
            </div>
        </div>
    </div>
</section>


